@use '../scss/partials/reset.scss' as *;
@use '../scss/partials/utilities.scss' as *;
@use '../scss/partials/mixins.scss' as *;
@use '../scss/partials/variables.scss' as *;

/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}


/* 
    APP
*/
main {
  text-align: center;
}

