// Colors
$color-primary-dark: #333;
$color-secondary-dark: #555;
$color-border: #ddd;
$color-white: #fff;

$color-standard: #E0E0E0;
$color-bronze: #CD7F32;
$color-silver: #C0C0C0;
$color-gold: #FFD700;
$color-violet: #E352FA;

// Font sizes
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 40px;

// Spacing
$spacing-xs: 10px;
$spacing-sm: 15px;

// Border radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
