// Import all of Bootstrap's CSS
$form-range-thumb-bg: #641405;
$form-range-thumb-active-bg: #a81900;


@import "../node_modules/bootstrap/scss/bootstrap.scss";


html {
    font-family: "Baumans", system-ui !important;
}

